@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500&family=Habibi&display=swap');
:root{
    --white : #fff;
    --red : #FE0303;
    --black : #000000;
    --text : #292019;
    --gray : #72696A;
    --brown : #C4A586;
    --gupter : 'Gupter', serif;
    --habibi : 'Habibi', serif;
}
